@model Lab3_OOP.Models.Klempner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Klempner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gehalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gehalt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensch.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
